<% userId = session[:loginUser][:userId]||'' %>
<!-- ref. http://bootsnipp-env.elasticbeanstalk.com/iframe/9njj -->
<div ng-app="ChatApp" class="container">
    <div class="row">
        <div class="col-md-5">
        <div ng-controller="ChatCtrl" ng-init="init(<%= @roomNumber %>, '<%= userId %>')" class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">
                        <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </div>
                </div>
                <div class="panel-collapse collapse in" id="collapseOne">
                    <div id="panelBody" class="panel-body">
                        <ul class="chat">
                            <li ng-repeat="comment in comments" class="{{comment.userId != '<%= userId %>' ? 'left':'right'}} clearfix">
                                <span ng-if="comment.userId && comment.userId != '<%= userId %>'">
                                    <span class="chat-img pull-left">
                                        <img ng-src="{{youImage}}" alt="User Avatar" class="img-circle" style="padding-right: 5px; width:45px; height:auto;">
                                    </span>
                                    <div class="chat-body clearfix" style="margin-right: 0">
                                        <div class="header">
                                            <strong class="primary-font">{{comment.name}}</strong> <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time"></span>{{comment.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</small>
                                        </div>
                                        <p>
                                            {{comment.commentText}} <span ng-show="comment.commentText.indexOf('#') == 0" class="glyphicon glyphicon-repeat" ng-click="searchAgain(comment.commentText)"></span>
                                        </p>
                                    </div>
                                </span>
                                <span ng-if="comment.userId && comment.userId == '<%= userId %>'">
                                    <span class="chat-img pull-right">
                                        <img ng-src="{{meImage}}" alt="User Avatar" class="img-circle" style="padding-left: 5px; width:45px; height:auto;">
                                    </span>
                                    <div class="chat-body clearfix" style="margin-left: 0">
                                        <div class="header">
                                            <small class="text-muted"><span class="glyphicon glyphicon-time"></span>{{comment.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</small>
                                            <strong class="pull-right primary-font">{{comment.name}}</strong>
                                        </div>
                                        <p>
                                            {{comment.commentText}} <span ng-show="comment.commentText.indexOf('#') == 0" class="glyphicon glyphicon-repeat" ng-click="searchAgain(comment.commentText)"></span>
                                        </p>
                                    </div>
                                </span>
                                <span ng-if="comment.products">
                                    <section class="product_list product_list" style="display:block; width:4000px;transition-property: -webkit-transform; transform: translate3d(0px, 0px, 0px); 'pointer-events': 'auto'">
                                        <ul id="product_list" class="list_base">
                                            <li ng-repeat="product in comment.products" >
                                                <div class="product_card" >
                                                    <p class="product_title">{{product.ProductName}}</p>
                                                    <a class="prd_unit" href="#">
                                                        <span class="thumb">
                                                            <img src="{{product.ProductImage250}}" ng-click="showProduct(product.ProductCode)">
                                                        </span>
                                                        <div class="info">
                                                            <span class="qty"><span class="sale">{{calcDiscount(product)}}</span> <strong>{{product.SalePrice}}</strong>
                                                                <button class="glyphicon glyphicon-link" ng-click="showProduct(product.ProductCode)"></button>
                                                            </span>
                                                            <span class="qty">{{product.SellerNick}} <strong>{{product.Delivery}}</strong> {{product.Text1}}</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </section>
                                </span>
                                <span ng-if="comment.aliProducts">
                                    <section class="product_list product_list" style="display:block; width:8000px;transition-property: -webkit-transform; transform: translate3d(0px, 0px, 0px); 'pointer-events': 'auto'">
                                        <ul id="product_list" class="list_base">
                                            <li ng-repeat="product in comment.aliProducts" >
                                                <div class="product_card" >
                                                    <p class="product_title">{{product.subject}}</p>
                                                    <a class="prd_unit" href="#">
                                                        <span class="thumb">
                                                            <img src="{{product.img_url}}" ng-click="showAliProduct(product.detailUrl)">
                                                        </span>
                                                        <div class="info">
                                                            <span class="qty"><span class="sale">{{product.discount ? product.discount + '%↓' : ''}}</span> <strong>{{product.promoMinPrice ? product.promoMinPrice : product.minPrice}}$</strong>
                                                                <button class="glyphicon glyphicon-link" ng-click="showAliProduct(product.detailUrl)"></button>
                                                            </span>
                                                            <span class="qty"> <strong>{{product.is_free_ship == 'y' ? '무료': ''}}</strong> </span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </section>
                                </span>
                                <span ng-if="comment.coupangProducts">
                                    <section class="product_list product_list" style="display:block; width:8000px;transition-property: -webkit-transform; transform: translate3d(0px, 0px, 0px); 'pointer-events': 'auto'">
                                        <ul id="product_list" class="list_base">
                                            <li ng-repeat="product in comment.coupangProducts" >
                                                <div class="product_card" >
                                                    <p class="product_title">{{product.productName}}</p>
                                                    <a class="prd_unit" href="#">
                                                        <span class="thumb">
                                                            <img src="{{product.imageUrl}}" ng-click="showCoupangProduct(product.detailUrl)">
                                                        </span>
                                                        <div class="info">
                                                            <span class="qty"><strong>{{product.salePrice}}</strong>
                                                                <button class="glyphicon glyphicon-link" ng-click="showCoupangProduct(product.detailUrl)"></button>
                                                            </span>
                                                            <span class="qty"> <strong>{{product.delivery}}</strong> </span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </section>
                                </span>
                                <span ng-if="comment.gmarketProducts">
                                    <section class="product_list product_list" style="display:block; width:8000px;transition-property: -webkit-transform; transform: translate3d(0px, 0px, 0px); 'pointer-events': 'auto'">
                                        <ul id="product_list" class="list_base">
                                            <li ng-repeat="product in comment.gmarketProducts" >
                                                <div class="product_card" >
                                                    <p class="product_title">{{product.GoodsName}}</p>
                                                    <a class="prd_unit" href="#">
                                                        <span class="thumb">
                                                            <img src="{{product.ImageURL}}" ng-click="showGmarketProduct(product.LinkURL)">
                                                        </span>
                                                        <div class="info">
                                                            <span class="qty"><span class="sale">{{product.DiscountRate ? product.DiscountRate + '%↓' : ''}}</span> <strong>{{product.SalePrice ? product.SalePrice : product.OriginalPrice}}$</strong>
                                                                <button class="glyphicon glyphicon-link" ng-click="showGmarketProduct(product.LinkURL)"></button>
                                                            </span>
                                                            <span class="qty"> <strong>{{product.Delivery.DeliveryInfo}}</strong> </span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </section>
                                </span>
                                <span ng-if="comment.categories">
                                    <section class="product_list" style="display:block; width:1900px;transition-property: -webkit-transform; transform: translate3d(0px, 0px, 0px); 'pointer-events': 'auto'">
                                        <ul id="product_list" class="list_base">
                                            <li ng-repeat="category in comment.categories" style="margin: 3px 3px 3px 3px;">
                                                <div class="category_card" >
                                                    <p class="category_title">{{category.CategoryName}}</p>
                                                    <a class="prd_unit" href="#">
                                                        <span class="thumb">
                                                            <img src="{{category.CategoryImage}}" style="display: block; margin: 0 auto; width: 50px; height: auto;" ng-click="showCategory(category.CategoryCode)">
                                                        </span>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </section>
                                </span>
                                <span ng-if="comment.help">
                                    <h5 ng-repeat="command in comment.help track by $index">{{command}}</h5>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." ng-model="present.commentText" ng-keypress="($event.which === 13)?addComment(present):0">
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="addComment(present)">Send</button>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var chatAppModule = angular.module('ChatApp', ['ngWebSocket']);

    'use strict';
    angular.module('ChatApp').factory('chatFactory', function($http, $websocket) {

        var mySocket = $websocket('ws://<%= ENV["CHAT_HOST"]||'localhost' %>:8084/<%= @roomNumber %>');

        return {
            mySocket : mySocket,
            getComments : function(roomNumber) {
                return $http({
                    method : 'GET',
                    url : '/rooms/chat/' + roomNumber + '/comments',
                    async : false
                });
            },
            addComment : function(roomNumber, commentText) {
                return $http({
                    method : 'POST',
                    url : '/rooms/chat/' + roomNumber + '/comment' ,
                    params : { "commentText" : commentText },
                    async : false
                });
            },
            searchAgain : function(roomNumber, commentText) {
                return $http({
                    method : 'POST',
                    url : '/rooms/chat/' + roomNumber + '/searchAgain' ,
                    params : { "commentText" : commentText },
                    async : false
                });
            }
        };
    });

    'use strict';
    chatAppModule.controller('ChatCtrl', function($scope, $timeout, $window, chatFactory) {

        var handleResult = function(data, status) {
            $scope.comments = data;
            $scope.scrollDown();
        };

        var handleSuccess = function(data, status) {
            console.log(data);
            //alert(data.result);
            $scope.present = {};
        };

        var handleError = function(data, status) {
            console.log(data);
            alert(data.result + ", " + data.message);
        };

        $scope.init = function(roomNumber, userId) {
            $scope.roomNumber=roomNumber;
            $scope.userId = userId;
            $scope.youImage = "http://placehold.it/50/55C1E7/fff&amp;text=U";
            $scope.meImage = "http://placehold.it/50/FA6F57/fff&amp;text=ME";
            $scope.present = {};

            chatFactory.getComments(roomNumber).success(handleResult).error(handleError);
        };

       chatFactory.mySocket.onMessage(function(message) {
            var result = JSON.parse(message.data);
            $scope.comments.push(result);
            $scope.$apply();
            $scope.scrollDown();
       });

        $scope.addComment = function(present) {
            if(present.commentText.indexOf("#help") == 0) {
                var help = { help: ["#help", "#search 검색키워드", "#categories", "#category 카테고리코드", "#searchCoupang 검색키워드", "#searchGmarket 검색키워드", "#searchAli 영문검색키워드"] };
                $scope.comments.push(help);
                $scope.present = {};
                $scope.scrollDown();
            } else {
                chatFactory.addComment($scope.roomNumber, present.commentText).success(handleSuccess).error(handleError);
            }
        };

        $scope.searchAgain = function(searchText) {
            chatFactory.searchAgain($scope.roomNumber, searchText).success(handleSuccess).error(handleError);
        };

        $scope.showProduct = function(productCode) {
            $window.open("http://m.11st.co.kr/MW/Product/productBasicInfo.tmall?prdNo=" + productCode, "11st-productDetails");
        };

        $scope.showAliProduct = function(detailUrl) {
            $window.open(detailUrl, "aliexpress-productDetails");
        };

        $scope.showCoupangProduct = function(detailUrl) {
            $window.open(detailUrl, "coupang-productDetails");
        };

        $scope.showGmarketProduct = function(detailUrl) {
            $window.open(detailUrl, "gmarket-productDetails");
        };

        $scope.showCategory = function(categoryCode) {
            $scope.present = { commentText: "#category " + categoryCode };
            chatFactory.addComment($scope.roomNumber, $scope.present.commentText).success(handleSuccess).error(handleError);
        };

        $scope.scrollDown = function() {
            $timeout(function() {
                $("#panelBody").scrollTop($("#panelBody")[0].scrollHeight);
            });
        };

        $scope.calcDiscount = function(product) {
            var saleRate = Math.floor((parseInt(product.ProductPrice) - parseInt(product.SalePrice)) / parseInt(product.ProductPrice) * 100 )
            if(saleRate > 0) {
                return saleRate + "%↓";
            } else {
                return "";
            }
        };

    });
</script>