<div class="jumbotron">
    <div class="container">
        <h1><b>Chat Assist</b></h1>
        <p>Chat Assist</p>
        <p>
        <div class="row">

            <% if !@rooms.nil?%>
                <% @rooms.each do |room| %>
                <div class="col-sm-6 col-md-4 text-center">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3><%= room[:name] %></h3>
                            <p>roomNumber: <%= room[:roomNumber] %></p>
                            <p><a href="/rooms/chat/<%= room[:roomNumber] %>" class="btn btn-info" role="button"><i class="glyphicon glyphicon-list"></i> Chat Rooms</a></p>
                        </div>
                    </div>
                </div>
                <% end %>
            <% end %>

        </div>

        <% if session[:loginUser].nil? %>
            <a href="/login" class="btn btn-primary btn-xlarge" role="button" data-toggle="modal" data-target="#login"><i class="glyphicon glyphicon-log-in"></i> Login</a>
            <a href="/signup" class="btn btn-info btn-xlarge" role="button" data-toggle="modal" data-target="#signup"><i class="glyphicon glyphicon-user"></i> Sign Up</a>
        <% else %>
            <a href="/logout" class="btn btn-warning btn-xlarge" role="button"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
            <a href="/rooms/chat" class="btn btn-success btn-xlarge" role="button" data-toggle="modal" data-target="#addChatRoom"><i class="glyphicon glyphicon-plus"></i> Add Chat Room</a>
        <% end %>
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>SK Planet Hack Planet</h2>
            <p>
            <ul>
                <li>Chat Assist by byunghun.woo@sk.com</li>
            </ul>
            </p>
        </div>
    </div>

    <hr>

    <footer>
        <p>© 2016 SK Planet</p>
    </footer>
</div>

<!-- Modal -->
<div class="modal fade" id="login" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><b>Chat Assist</b> Login</h4>
            </div>
            <div class="modal-body">
                <form class="form-signin" action="/login" method="post">
                    <h2 class="form-signin-heading"><b>Chat Assist</b> 로그인</h2>
                    <input type="text" id="userId" name="userId" class="form-control" placeholder="UserId" required="true" autofocus="true" />
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="true" />

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="signup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><b>Chat Assist</b> Sign Up</h4>
            </div>
            <div class="modal-body">
                <form class="form-signin" action="/signup" method="post">
                    <h2 class="form-signin-heading"><b>Chat Assist</b> 회원가입</h2>
                    <input type="text" id="userId" name="userId" class="form-control" placeholder="UserId" required="true" autofocus="true" />
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="true" />
                    <input type="text" id="name" name="name" class="form-control" placeholder="Name" required="true" />
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" />

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addChatRoom" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><b>Chat Assist</b> Add Chat Room</h4>
            </div>
            <div class="modal-body">
                <form class="form-signin" action="/rooms/chat" method="post">
                    <h2 class="form-signin-heading"><b>Chat Assist</b> 채팅방 만들기</h2>
                    <input type="text" id="roomName" name="roomName" class="form-control" placeholder="Room Name" required="true" autofocus="true" />
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Add Chat Room</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {

        $("#login").on("shown.bs.modal", function() {
            $("input[autofocus]").focus();
        });

        $("#signup").on("shown.bs.modal", function() {
            $("input[autofocus]").focus();
        });

        $("#addChatRoom").on("shown.bs.modal", function() {
            $("input[autofocus]").focus();
        });

    });
</script>
