<!DOCTYPE html>
<html>
	<head>
		<title>Chat Assist</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<!-- Bootstrap -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->

		<!-- ref. http://bootsnipp-env.elasticbeanstalk.com/iframe/9njj -->
		<style type="text/css">
			.chat
			{
				list-style: none;
				margin: 0;
				padding: 0;
			}

			.chat li
			{
				margin-bottom: 10px;
				padding-bottom: 5px;
				border-bottom: 1px dotted #B3A9A9;
			}

			.chat li.left .chat-body
			{
				margin-left: 60px;
			}

			.chat li.right .chat-body
			{
				margin-right: 60px;
			}


			.chat li .chat-body p
			{
				margin: 0;
				color: #777777;
			}

			.panel .slidedown .glyphicon, .chat .glyphicon
			{
				margin-right: 5px;
			}

			.panel-body
			{
				overflow-y: scroll;
				height: 470px;
			}

			.product_list {
				overflow: hidden;
				position: relative;
				margin: 8px 8px 0;
			}

			.product_list .list_base {
				background: transparent;
				width:100%;
			}

			.list_base > li {
				position: relative;
				border-top: 1px solid #e3e3e8;
				-webkit-transition: height 0.5s ease;
				transition: height 0.5s ease;
				box-sizing: border-box;
			}

			.product_list .list_base li {
				float:left;
				margin:3px 15px 8px 3px;
				border-bottom: 1px solid #d1d1d6;
			}
			.list_base > li:first-child {
				border-top: none;
				margin-left: -40px;
			}
			.product_card {
				overflow: hidden;
				position: relative;
				margin-bottom: -1px;
				max-width: 350px;
				width: 330px;
			}

			.product_card .prd_unit .info .qty {
				display: block;
				color: #333;
				font-size: 12px;
				line-height: 20px;
			}

			.product_card .sale {
				color: #f43142;
				font-weight: bold;
			}

			.product_card.active {
				box-shadow: 0 0 3px 3px #63636b;
				/*border: 3px blue solid*/
			}

			/*.product_card.active .product_title {
                margin:-3px;
            }*/

			.product_card .product_title {
				color: #333;
				background: #eff2fb;
				padding: 0 5px;
				height: 38px;
				line-height: 38px;
				text-align: center;
				font-size: 15px;
			}

			.category_card {
				overflow: hidden;
				position: relative;
				margin-bottom: -1px;
				max-width: 120px;
				width: 90px;
			}

			.category_card .category_title {
				color: #333;
				background: #eff2fb;
				padding: 0 5px;
				height: 38px;
				line-height: 38px;
				text-align: center;
				font-size: 9px;
			}

			::-webkit-scrollbar-track
			{
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
				background-color: #F5F5F5;
			}

			::-webkit-scrollbar
			{
				width: 12px;
				background-color: #F5F5F5;
			}

			::-webkit-scrollbar-thumb
			{
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
				background-color: #555;
			}

		</style>
	</head>
	<body>
		<div class="container">

			<!-- Static navbar -->
			<div class="navbar navbar-default" role="navigation">
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="/">Chat Assist</a>
			  </div>
			  <div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<% unless session[:loginUser].nil? %>
						<li class="active" style="padding-top: 15px;padding-right: 5px"><%= session[:loginUser][:name] %> 님</li>
						<li class="active"><a href="/logout">Log out</a></li>
					<% end %>
					<li class="active"><a href="/">Home</a></li>
				</ul>
			  </div><!--/.nav-collapse -->
			</div>

			<div>
			      <%if @error %>
			          <div class="alert alert-error" style="font-size: 16px; color: red;"><%=@error%></div>
			      <% end %>
			</div>

	</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/jquery-3.1.1.min.js"></script>
    <script src="/vendor/angular.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendor/angular-websocket.min.js"></script>
	<%= yield %>

  </body>

</html>
